@page "/"
@using QRCoder
@using QRGenerator_BlazorWebAssembly.Services
@inject QRCodeService _qrService

<div class="container">
    <div class="row">

    </div>
</div>

@code{

    protected override void OnInitialized()
    {
        var qrRequest = new QRCodeRequestModel
        {
            Text = "testing qr",
            Logo = new SvgQRCode.SvgLogo("wwwroot/favicon.png")
        };
        _qrService.GenerateQR(qrRequest);
    }

}